.hand {
  animation: example 2s linear 2s infinite alternate;
  will-change: transform;
}

@keyframes example {
  from {
    transform: rotate(325deg);
  }
  to {
    transform: rotate(305deg);
  }
}
